.card{
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background: #f9f9f9;
  width: 300px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card-body{
  margin-top: 10px;
}

.countInc, .countDec, .countReset{
  margin: 2px;
}

.user-card{
  width:50%;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background: #f9f9f9;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.getInput{
  margin-right: 12px;
}