.card{
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background: #f9f9f9;
  width: 300px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card-body{
  margin-top: 10px;
}

.countInc, .countDec, .countReset{
  margin: 2px;
}


.getInput{
  margin-right: 12px;
}

.home-page{
  color: purple;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px;
}


.card.light{
  color: #000;
}

.card.dark{
  background: #1e1e1e;
  color: #fff;
}

.btn{
  margin-right: 10px;
}